{{define "content"}}
<div class="container">
{{range .Flashes}}
	<div class="card-panel blue lighten-3">
		{{.}}
	</div>
{{end}}
<h1>Items</h1>
 <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tbody>
						{{range .Data}}
            <tr>
								<td>{{.}}</td>
								<td><a href="/rm_from_cart/{{.}}" class="btn-small red"><i class="material-icons">remove</i></a></td>
            </tr>
						{{end}}
        </tbody>
    </table>
</div>
{{end}}
