{{define "content"}}
<div class="container">
{{range .Flashes}}
	<div class="card-panel blue lighten-3">
		{{.}}
	</div>
{{end}}
<h1>Items</h1>
 <table>
        <thead>
          <tr>
              <th>Name</th>
          </tr>
        </thead>
        <tbody>
						{{range .Data.Products}}
            <tr>
								<td> <a href="/view_item/{{.ID}}">{{.Name}}</a> </td>
            </tr>
						{{end}}
						<tr>
							<td><b>Total</b></td>
							<td><b>₹ {{.Data.Total}}</b></td>
						</tr>
        </tbody>
    </table>
</div>
{{end}}
