{{define "content"}}
<div class="row">
    <div class="col push-m4 m4 s12 z-depth-4 card-panel">
			{{range .Flashes}}
				<div class="card-panel red darken-1">
					{{.}}
				</div>
			{{end}}
        <form method="POST">
            <div class="row center">
                <h2 class="center login-form-text">Register</h2>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input autofocus name="username" type="text" required>
                    <label for="username" class="center-align">Username</label>
                </div>
            </div>
 
            <div class="row ">
                <div class="input-field col s12">
                    <i class="material-icons prefix">lock</i>
                    <input name="password" type="password" required>
                    <label for="password">Password</label>
                </div>
            </div>


			<div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input autofocus name="first_name" type="text" required>
                    <label for="first_name" class="center-align">First Name</label>
                </div>
            </div>

			<div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">person</i>
                    <input autofocus name="last_name" type="text" required>
                    <label for="last_name" class="center-align">Last Name</label>
                </div>
            </div>

			<div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input autofocus name="email" type="email" required>
                    <label for="email" class="center-align">Email</label>
                </div>
            </div>

			<div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">mobile</i>
                    <input autofocus name="mobile" type="number" required>
                    <label for="mobile" class="center-align">Mobile</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <button type="submit" class="btn waves-effect waves-light col s12">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
{{end}}
