{{define "content"}}
<div class="container">
{{range .Flashes}}
	<div class="card-panel blue lighten-3">
		{{.}}
	</div>
{{end}}
<h1>{{.Data.Tag.Name}}</h1>
<p>{{.Data.Tag.Description}}</p>
<hr>
 <table>
        <thead>
          <tr>
              <th>Name</th>
              <th>Price</th>
              <th>Remaining</th>
              <th>Actions</th>
          </tr>
        </thead>
        <tbody>
						{{range .Data.Products}}
            <tr>
								<td><a href="/view_item/{{.ID}}">{{.Name}}</a></td>
								<td>₹ {{.Price}}</td>
								<td>{{.Remaining}}</td>
								<td><a href="/to_cart/{{.ID}}" class="btn-small"><i class="material-icons">add</i></a></td>
            </tr>
						{{end}}
        </tbody>
    </table>
</div>
{{end}}
