{{define "nav" }}
<nav>
  <div class="nav-wrapper teal">
    <a href="/" class="brand-logo">La-Fresco</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
			{{if index .Session "username" }}
      <li><a href="logout">Logout</a></li>
      <li><a href="cart">Cart</a></li>
      <li><a href="my_orders">My Orders</a></li>
			<li>{{.Session.username}}</li>
			{{else}}
      <li><a href="login">Login</a></li>
      <li><a href="register">Register</a></li>
			{{end}}
    </ul>
  </div>
</nav>
{{end}}
